@charset "utf-8";
html{
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    scroll-behavior: smooth;
}
body{
    text-align:center;
    align-items: center;
}
.container{
    width:90%;
    margin:0 auto;
}
.fa-category{
    padding:40px 0;
    font-size:32px;
    background-color:#E1F1FF;
}
.fa-tips{
    padding:20px 0;
    font-size:16px;
    opacity: 0.5;
}
.fa-grid{
    margin:40px 0;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:40px;
    grid-row-gap:40px;
}
.fa-grid-item{
    position: relative;
    text-align: center;
    overflow: hidden;
    max-width:100%;
    box-shadow: 0px 2px 8px rgba(25, 28, 56, 0.4);
}

.fa-grid-item div{
    width:100%;
    height:100%;
}
.fa-grid-item img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.fa-creator-name{
    font-size:16px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: 3px 0 2px #FFF,-3px 0 2px #FFF,0 3px 2px #FFF,0 -3px 2px #FFF,3px 3px 2px #FFF,3px -3px 2px #FFF,-3px -3px 2px #FFF,-3px 3px 2px #FFF;
    position: absolute;
    display:inline-block;
    box-sizing: border-box;
    bottom:10px;
    right:20px;

}
.search-result{
    font-size:20px;
    text-align:right;
}
.search-result a{
    display:inline-block;
    padding:0 10px;
    border-bottom:1px solid;
}
.top-btn{
    display:inline-block;
    font-size:24px;
    padding:30px 0;
}
@media screen and (max-width:1024px) {
    .container{
        margin:0 auto;
    }
    .fa-category{
        font-size:24px;
    }
    .fa-tips{
        font-size:12px;
    }    
    .fa-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .fa-creator-name{
        font-size:8px;
    }
    .search-result{
        font-size:16px;
    }
}

