@charset "utf-8";
body{
    text-align:center;
    align-items: center;
}
.container{
    width:80%;
    height:auto;
    margin:5% auto;
}
.movie-category{
    padding:40px 0;
    font-size:32px;
    background-color:#E1F1FF;
}
.movie-contents{
    width:100%;
    aspect-ratio: 16/9;
}

.top-btn{
    display:inline-block;
    font-size:24px;
    padding:30px 0;
}
@media screen and (max-width:1024px) {
    .container{
        width:100%;
    }
    .song-title{
        font-size:24px;
    }    
}

