@charset "utf-8";

@media screen and (max-width:1024px){

    .sp-only{
        display:block;
    }
    .head_bar {
        height: 100%;
        width: 150px;
        background-color: #f7f6fc;
        text-align: center;
    }

    .message_box {
        margin:  40px;    /* 周りの余白指定 */    
        height: 200px;    /* 高さ指定 */
        width: 100%;     /* 幅指定 */
        text-align: center;
    }

    h1{
        font-size:50px;
    }
    h2{
        font-size: 25px;
        text-shadow:4px 4px 4px rgba(65,74,161,0.4);
    }
    p{
        text-align: center;
    }
    /* ホバーのフォント色変更 */
    .link-text {
        color:#646F8B;
        text-decoration: none;
        margin-left: 35px;
    }
    .link-text:hover {
        color: #C0D6F3;
    }

    /* ホバーの画像変更 */
    .image-container {
        position: relative;
        display: inline-block;
    }
    .image-container img {
        margin:30px;
        margin-top:40px;
        width: 100px;
        height: 100px;
    }
    .image-container img:hover {
        content: url("./media/top/shiro_hov.png");
    }
                
    /* カルーセル実装*/
    .carousel {
        width: 100%;
        overflow: hidden;
    }
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }
    .carousel-item {
        flex: 0 0 100%;
    }

    /* -----------------追加開発----------------- */

    /* 隠しホバーのフォント色変更 */
    .link-text-back {
        color: #FFFFFF;
        text-decoration: underline;
    }
    .link-text-back:hover {
        color: #C0D6F3;
    }

    /* 隠し_ホバーの画像変更 */
    .image-container-back {
        position: relative;
        display: inline-block;
    }
    .image-container-back img {
        margin:30px;
        margin-top:40px;
        width: 100px;
        height: 100px;
    }
    .image-container-back img:hover {
        content: url("/media/top/seikaku_shinbun.jpg");
    }
    .pc-only{
        display:none;
    }
}