@charset "utf-8";
html{
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    scroll-behavior: smooth;
}
body{
    text-align:center;
    align-items: center;
}
.pc-only{
    display:block;
}
h1{
    font-size:70px;
}
h2{
    font-size: 35px;
    text-shadow:4px 4px 4px rgba(65,74,161,0.4);
}
p{
    margin-top: 20px;
}


.head_bar {
    width: 100%;
    height: 150px;
    background-color: #f7f6fc;
    text-align: center;
}

/* 横並び */
.menu_box {
    width:100%;
    padding:40px;
    display: flex;    /* 回り込み指定 */
    justify-content:space-around;
}

.head_text{
}
.message_box {
    margin:0 auto;
    align-items: center;
}
.message_box h1{
    font-size:96px;
    text-align:left;
    line-height:1.2;
}
.message_box_item{
    padding:0 30px;
    display:inline-block;
    text-align:left;
}
.message_box_item h2{
    display:inline-block;
}
.carousel_box {
    background-color: #ffffff; 
    margin-left: 200px;
}

/* ホバーのフォント色変更 */
.link-text {
    color:#646F8B;
    text-decoration: none;
    display:block;
    padding:10px 0 0 20px;
}
.link-text:hover {
    color: #C0D6F3;
}

/* ホバーの画像変更 */
.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    margin:30px;
    margin-top:40px;
    width: 100px;
    height: 100px;
}
.image-container img:hover {
    content: url("./media/top/shiro_hov.png");
}
			  
/* カルーセル実装*/
.carousel {
    width: 50%;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    flex: 0 0 100%;
    position:relative;
}
.carousel-item img{
    width:100%;
    height:100%;
}
.sel-creator-name{
    font-size:16px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: 3px 0 2px #FFF,-3px 0 2px #FFF,0 3px 2px #FFF,0 -3px 2px #FFF,3px 3px 2px #FFF,3px -3px 2px #FFF,-3px -3px 2px #FFF,-3px 3px 2px #FFF;
    position: absolute;
    display:inline-block;
    box-sizing: border-box;
    bottom:10px;
    right:20px;
}
.top-btn{
    display:inline-block;
    font-size:24px;
    padding:30px 0;
}

/* -----------------追加開発----------------- */

/* 隠しホバーのフォント色変更 */
.link-text-back {
    color: #FFFFFF;
    text-decoration: underline;
}
.link-text-back:hover {
    color: #C0D6F3;
}

/* 隠し_ホバーの画像変更 */
.image-container-back {
    position: relative;
    display: inline-block;
}
.image-container-back img {
	margin:30px;
	margin-top:40px;
    width: 100px;
    height: 100px;
}
.image-container-back img:hover {
    content: url("/media/top/seikaku_shinbun.jpg");
}

.sp-only{
    display:none;
}